.header{
    background-color: #a9c6e7;
    color: #fff;
    text-align: center;
    
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    
}
.header li{
    padding: 10px;
    
}


.current{
    background-color: rgb(245, 76, 84);
}

